body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  text-align: center;

}
.anonymous{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card{
  border: 2px solid gray;
  border-radius: 1em;
  width:600px;
  height:250px;
  margin:2%;
  padding:5% 10%;
}
input{
  width:450px;
  height: 150px;
  border: none;
}
button{
  display: block;
  margin-top:10px;
}
